@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nanum+Gothic&display=swap");

@import "tailwindcss";

@theme {
  --font-body: "Nanum Gothic", sans-serif;
  --font-mono: "Fira Code", monospace;

  --spacing-108: 27rem;

  --color-primary: oklch(80.035% 0.18206 151.71);
  --color-primary-50: oklch(96.614% 0.02791 158.7);
  --color-primary-100: oklch(94.513% 0.04676 157.8);
  --color-primary-200: oklch(90.492% 0.08395 156.45);
  --color-primary-300: oklch(86.688% 0.12124 154.86);
  --color-primary-400: oklch(83.065% 0.1528 153.46);
  --color-primary-500: oklch(80.035% 0.18206 151.71);
  --color-primary-600: oklch(73.95% 0.19525 149.68);
  --color-primary-700: oklch(60.609% 0.15775 149.98);
  --color-primary-800: oklch(46.799% 0.11886 150.24);
  --color-primary-900: oklch(31.862% 0.07642 150.96);
  --color-primary-950: oklch(23.597% 0.05097 152.49);

  --color-blue: oklch(71.374% 0.14338 254.62);
  --color-blue-50: oklch(100% 0 none);
  --color-blue-100: oklch(99.924% 0.00106 197.14);
  --color-blue-200: oklch(92.508% 0.0351 254.87);
  --color-blue-300: oklch(85.272% 0.06977 253.22);
  --color-blue-400: oklch(78.096% 0.10673 254.53);
  --color-blue-500: oklch(71.374% 0.14338 254.62);
  --color-blue-600: oklch(62.819% 0.1902 256.35);
  --color-blue-700: oklch(54.675% 0.20216 258.41);
  --color-blue-800: oklch(44.931% 0.16148 257.89);
  --color-blue-900: oklch(34.736% 0.11931 257.23);
  --color-blue-950: oklch(29.227% 0.09761 256.78);

  --color-red: oklch(71.063% 0.16615 22.216);
  --color-red-50: oklch(100% 0 none);
  --color-red-100: oklch(100% 0 none);
  --color-red-200: oklch(94.431% 0.02634 17.628);
  --color-red-300: oklch(85.975% 0.07045 18.621);
  --color-red-400: oklch(78.062% 0.11803 20.087);
  --color-red-500: oklch(71.063% 0.16615 22.216);
  --color-red-600: oklch(63.904% 0.22087 26.115);
  --color-red-700: oklch(59.679% 0.24107 28.885);
  --color-red-800: oklch(49.434% 0.19871 28.78);
  --color-red-900: oklch(38.414% 0.15305 28.594);
  --color-red-950: oklch(32.636% 0.12863 28.372);

  --color-orange: oklch(75.764% 0.15904 55.934);
  --color-orange-50: oklch(98.042% 0.01266 63.925);
  --color-orange-100: oklch(95.124% 0.0288 60.769);
  --color-orange-200: oklch(89.883% 0.06265 61.413);
  --color-orange-300: oklch(84.965% 0.09736 60.397);
  --color-orange-400: oklch(80.077% 0.13013 58.404);
  --color-orange-500: oklch(75.764% 0.15904 55.934);
  --color-orange-600: oklch(70.59% 0.18949 48.53);
  --color-orange-700: oklch(58.842% 0.15566 49.35);
  --color-orange-800: oklch(46.48% 0.1199 50.793);
  --color-orange-900: oklch(33.057% 0.08205 52.82);
  --color-orange-950: oklch(25.744% 0.06132 56.09);

  --color-yellow: oklch(86.056% 0.17311 91.936);
  --color-yellow-50: oklch(96.233% 0.05558 95.048);
  --color-yellow-100: oklch(94.947% 0.07557 96.138);
  --color-yellow-200: oklch(92.472% 0.11203 95.336);
  --color-yellow-300: oklch(90.09% 0.14223 94.89);
  --color-yellow-400: oklch(88.086% 0.16381 94.207);
  --color-yellow-500: oklch(86.056% 0.17311 91.936);
  --color-yellow-600: oklch(75.038% 0.15278 91.112);
  --color-yellow-700: oklch(60.099% 0.12219 91.759);
  --color-yellow-800: oklch(44.272% 0.08968 92.121);
  --color-yellow-900: oklch(26.701% 0.05358 94.777);
  --color-yellow-950: oklch(16.696% 0.03487 101.33);

  --color-green: oklch(80.035% 0.18206 151.71);
  --color-green-50: oklch(96.614% 0.02791 158.7);
  --color-green-100: oklch(94.513% 0.04676 157.8);
  --color-green-200: oklch(90.492% 0.08395 156.45);
  --color-green-300: oklch(86.688% 0.12124 154.86);
  --color-green-400: oklch(83.065% 0.1528 153.46);
  --color-green-500: oklch(80.035% 0.18206 151.71);
  --color-green-600: oklch(73.95% 0.19525 149.68);
  --color-green-700: oklch(60.609% 0.15775 149.98);
  --color-green-800: oklch(46.799% 0.11886 150.24);
  --color-green-900: oklch(31.862% 0.07642 150.96);
  --color-green-950: oklch(23.597% 0.05097 152.49);

  --color-purple: oklch(70.897% 0.15917 293.54);
  --color-purple-50: oklch(100% 0 none);
  --color-purple-100: oklch(100% 0 none);
  --color-purple-200: oklch(90.362% 0.04963 296.84);
  --color-purple-300: oklch(80.596% 0.10467 295.75);
  --color-purple-400: oklch(70.897% 0.15917 293.54);
  --color-purple-500: oklch(58.534% 0.22983 288.81);
  --color-purple-600: oklch(49.006% 0.27691 280.39);
  --color-purple-700: oklch(42.146% 0.25697 276.5);
  --color-purple-800: oklch(34.221% 0.20496 277.63);
  --color-purple-900: oklch(25.751% 0.14996 279.93);
  --color-purple-950: oklch(21.254% 0.12044 281.65);

  --color-magenta: oklch(70.167% 0.32249 328.36);
  --color-magenta-50: oklch(87.073% 0.12209 326.56);
  --color-magenta-100: oklch(83.691% 0.15793 326.87);
  --color-magenta-200: oklch(77.951% 0.22327 327.45);
  --color-magenta-300: oklch(73.752% 0.27514 327.93);
  --color-magenta-400: oklch(71.146% 0.30926 328.24);
  --color-magenta-500: oklch(70.167% 0.32249 328.36);
  --color-magenta-600: oklch(58.216% 0.26756 328.36);
  --color-magenta-700: oklch(45.612% 0.20963 328.36);
  --color-magenta-800: oklch(32.051% 0.14731 328.36);
  --color-magenta-900: oklch(16.791% 0.07717 328.36);
  --color-magenta-950: oklch(6.801% 0.03126 328.36);

  --color-gray: oklch(74.866% 0.01029 252.84);
  --color-gray-50: oklch(97.267% 0.00171 247.84);
  --color-gray-100: oklch(94.184% 0.00254 228.79);
  --color-gray-200: oklch(87.848% 0.00466 258.33);
  --color-gray-300: oklch(81.523% 0.00715 247.91);
  --color-gray-400: oklch(74.866% 0.01029 252.84);
  --color-gray-500: oklch(65.679% 0.01441 251.62);
  --color-gray-600: oklch(56.178% 0.0157 248.11);
  --color-gray-700: oklch(46.477% 0.01366 252.21);
  --color-gray-800: oklch(36.196% 0.01018 253.96);
  --color-gray-900: oklch(25.111% 0.00639 258.36);
  --color-gray-950: oklch(19.1% 0.00433 264.47);
}

@source inline("{h,w}-{6,7,10,12}");
@source inline("ml-{4,8,12,16,20,24,32,36,40,44}");
@source inline("bg-{blue,red,orange,yellow,green,purple,magenta,gray}-200");
@source inline("dark:bg-{blue,red,orange,yellow,green,purple,magenta,gray}-900");
@source inline("text-{blue,red,orange,yellow,green,purple,magenta,gray}-800");
@source inline("dark:text-{blue,red,orange,yellow,green,purple,magenta,gray}-300");

dialog {
  @apply m-auto;
}

dialog::backdrop {
  @apply backdrop-filter backdrop-brightness-50 backdrop-grayscale;
}

.editor {
  position: relative;
  text-align: left;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}

.editor textarea {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  resize: none;
  color: inherit;
  overflow: hidden;
  padding: 0.5rem;
  -webkit-text-fill-color: transparent;
}

.editor textarea:placeholder-shown {
  -webkit-text-fill-color: inherit !important;
}

.editor .editArea {
  margin: 0;
  border: 0;
  background: none;
  box-sizing: inherit;
  display: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  tab-size: inherit;
  text-indent: inherit;
  text-rendering: inherit;
  text-transform: inherit;
  white-space: pre-wrap;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.editor .highlight {
  position: relative;
  pointer-events: none;
  padding: 0.5rem;
}

/* JSON highlighting CSS */

.json .key {
  @apply text-primary-700 dark:text-primary-300;
}

.json .number {
  @apply text-purple-700 dark:text-purple-300;
}

.json .string {
  @apply whitespace-pre-wrap wrap-break-word text-blue-700 dark:text-blue-300;
}

.json .true {
  @apply text-yellow-700 dark:text-yellow-300;
}

.json .false {
  @apply text-yellow-700 dark:text-yellow-300;
}

.json .null {
  @apply text-gray-600 dark:text-gray-400;
}

/* Markdown highlighting CSS */

/* -Code- */

.markdown :not(pre) > code {
  @apply font-mono text-sm py-1 px-1.5 rounded bg-gray-50 dark:bg-gray-900;
}

.markdown pre {
  @apply font-mono text-sm p-2.5 rounded-lg bg-gray-50 dark:bg-gray-900 overflow-x-auto;
}

/* -General- */

.markdown a {
  @apply underline;
}

.markdown h1 {
  @apply font-bold text-xl md:text-2xl lg:text-3xl pb-2 mb-3 text-primary-400 dark:text-primary-600 scroll-mt-16;
}

.markdown h2 {
  @apply font-bold text-lg md:text-xl lg:text-2xl pb-2 mb-3 text-primary-400 dark:text-primary-600 scroll-mt-16;
}

.markdown h3 {
  @apply font-bold md:text-lg md:font-normal lg:text-xl lg:font-normal mb-3 mt-4 scroll-mt-16;
}

.markdown h4 {
  @apply font-semibold md:font-bold lg:text-lg lg:font-normal mb-2 mt-3 scroll-mt-16;
}

.markdown h5 {
  @apply font-bold italic md:font-semibold lg:font-bold mb-2 mt-3 scroll-mt-16;
}

.markdown h6 {
  @apply font-semibold md:italic mb-1 mt-2 scroll-mt-16;
}

.markdown hr {
  @apply m-2 border-gray-500 dark:border-gray-400;
}

.markdown ol {
  @apply list-decimal lg:list-inside;
}

.markdown ul {
  @apply list-disc list-inside lg:list-outside lg:mx-6;
}

.markdown p {
  @apply my-2;
}

.markdown kbd {
  @apply px-2 py-1.5 text-xs font-semibold text-gray-800 bg-gray-100 border border-gray-200 rounded-lg dark:bg-gray-600
    dark:text-gray-100 dark:border-gray-500;
}

.markdown table {
  @apply table-auto;
}

.markdown td {
  @apply p-2 border border-solid border-gray-500 dark:border-gray-400;
}

.markdown th {
  @apply font-bold text-center;
}

/* -Links- */

.markdown .anchor {
  @apply float-left -ml-6 pr-1 leading-4;
}

.markdown svg.octicon {
  @apply fill-current;
}

.markdown h1 .octicon-link,
.markdown h2 .octicon-link,
.markdown h3 .octicon-link,
.markdown h4 .octicon-link,
.markdown h5 .octicon-link,
.markdown h6 .octicon-link {
  @apply invisible mt-2;
}

.markdown h1:hover .octicon-link,
.markdown h2:hover .octicon-link,
.markdown h3:hover .octicon-link,
.markdown h4:hover .octicon-link,
.markdown h5:hover .octicon-link,
.markdown h6:hover .octicon-link {
  @apply visible;
}

/* -Syntax Highlighting- */

.markdown .highlight .token {
  @apply text-cyan-600 dark:text-cyan-400;
}

.markdown .highlight .token.class-name {
  @apply text-cyan-600 dark:text-cyan-400;
}

.markdown .highlight .token.comment {
  @apply text-gray-600 dark:text-gray-400;
}

.markdown .highlight .token.keyword {
  @apply text-magenta-500;
}

.markdown .highlight .token.number {
  @apply text-purple-400 dark:text-purple-300;
}

.markdown .highlight .token.operator {
  @apply text-magenta-500;
}

.markdown .highlight .token.punctuation {
  @apply text-black dark:text-white;
}

.markdown .highlight .token.string {
  @apply text-orange-500 dark:text-yellow-400;
}
